div#organisers-box, div#platinum-supporters-box, div#gold-supporters-box, div#silver-supporters-box {
  border-radius: .3rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15);
  margin: 0 0 1rem;
  padding: .3rem; }

div#mysite {
  border-style: none;
  margin: 0 auto;
  padding: 0; }

div.menu {
  box-sizing: border-box;
  clear: both;
  margin: 0 auto 1rem;
  padding: 0;
  width: 100%; }
  div.menu ul {
    background-color: #efefef;
    border-radius: .5rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
    font-size: .8rem;
    list-style: none;
    margin: 0;
    padding: 0; }
    div.menu ul:after {
      clear: both;
      content: '';
      display: block; }
    div.menu ul li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative; }
      div.menu ul li:hover {
        background-color: #4b545f; }
        div.menu ul li:hover > ul {
          display: block; }
        div.menu ul li:hover a {
          color: #fff; }
      div.menu ul li a {
        color: #000;
        display: block;
        padding: .2rem .5rem;
        text-decoration: none; }
    div.menu ul ul {
      background: #5f6975;
      border-radius: 0;
      display: none;
      padding: 0;
      position: absolute;
      top: 100%; }
      div.menu ul ul li {
        border-bottom: 0.1rem solid #575f6a;
        border-top: 0.1rem solid #6b727c;
        float: none;
        position: relative; }
        div.menu ul ul li a {
          color: #fff;
          padding: .5rem 1rem; }
          div.menu ul ul li a:hover {
            background-color: #4b545f; }
      div.menu ul ul ul {
        left: 100%;
        position: absolute;
        top: 0; }

div#breadcrumbs {
  margin-bottom: 2rem; }

div#speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

div.speaker {
  border: 0.1rem solid #000;
  border-radius: .5rem;
  flex-basis: 12rem;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 1rem 1rem 0;
  max-width: 25rem;
  padding: 1rem; }

div#platinum-supporters-box h2 {
  font-size: .9rem;
  margin: 0 0 1rem; }

div#gold-supporters-box h2 {
  font-size: .8rem;
  margin: 0 0 1rem; }

div#silver-supporters-box {
  margin-bottom: 0; }
  div#silver-supporters-box h2 {
    font-size: .7rem;
    margin: 0 0 1rem; }

div#organisers {
  display: flex;
  flex-wrap: wrap; }

div#platinum-supporters {
  display: flex;
  flex-wrap: wrap; }

div#gold-supporters {
  display: flex;
  flex-wrap: wrap; }

div#silver-supporters {
  display: flex;
  flex-wrap: wrap; }

div.main-org {
  margin: 0 1rem 1rem 0; }

div.platinum-supp {
  margin: 0 1rem 1rem 0; }

div.gold-supp {
  margin: 0 1rem 1rem 0; }

div.silver-supp {
  margin: 0 1rem 1rem 0; }

div#register-button {
  margin: 2rem auto;
  width: 10rem; }

div#location {
  margin: 2rem 0 1rem; }

div#location-map {
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
  width: 50%; }

div#location-links {
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
  width: 15rem; }

div#main-organisers-box h2 {
  font-size: 1rem; }

div#inffeld-photos figure {
  margin: 1rem auto 2rem;
  text-align: center;
  width: 100%; }
  div#inffeld-photos figure img {
    max-height: 20rem;
    max-width: 100%;
    padding: 1rem 0; }
  div#inffeld-photos figure figcaption p {
    text-align: center;
    text-indent: 0; }

header {
  background-color: #ddd;
  border-radius: .5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%; }
  header div#title {
    width: auto; }
  header div#tagline {
    font-size: .7rem; }
  header div#logo img {
    display: block;
    margin-right: 1rem;
    width: 2.5rem; }
  header div#uxg-logo img {
    display: block;
    margin-left: 1rem;
    width: 2.5rem; }
  header h1 {
    font-size: 2rem; }

footer {
  background-color: #efefef;
  border-radius: .5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
  font-size: .7rem;
  margin: 2.5rem auto 1rem;
  text-align: center; }
  footer span.valid-xhtml {
    display: inline-block;
    padding: 0 .5rem 0 0; }
  footer span.valid-css {
    display: inline-block;
    padding: 0 .5rem; }
  footer span.copyright {
    display: inline-block;
    padding: 0 .5rem; }
  footer span.impressum {
    display: inline-block;
    padding: 0 0 0 .5rem; }

img.speaker-photo {
  display: block;
  margin: 0 auto 1rem;
  max-height: 10rem;
  max-width: 100%; }

img.org-logo {
  max-height: 3.5rem;
  width: 8rem; }

img.platinum-supp-logo {
  max-height: 3.5rem;
  width: 8rem; }

img.gold-supp-logo {
  max-height: 2.2rem;
  width: 5.8rem; }

img.silver-supp-logo {
  max-height: 2rem;
  width: 4.5rem; }

img#supp-logo-feri {
  max-height: 3rem; }

img#map-i7 {
  display: block;
  margin-right: 1rem;
  min-width: 10rem; }

@media only all and (max-width: 40rem) {
  header div#title {
    width: auto; }
  header div#tagline {
    font-size: .5rem; }
  header div#logo img {
    display: block;
    margin-right: .5rem;
    width: 1.7rem; }
  header div#uxg-logo img {
    display: block;
    margin-left: .5rem;
    width: 1.7rem; }
  header h1 {
    font-size: 1rem; }
  div#container {
    display: flex;
    flex-direction: column;
    width: 100%; }
  div#supporters {
    width: 100%; } }

@media only all and (min-width: 40rem) and (max-width: 60rem) {
  div#container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  div#supporters {
    flex-basis: 9rem;
    flex-shrink: 0;
    margin-left: 2rem; } }

@media only all and (min-width: 60rem) {
  div#mysite {
    max-width: 60rem; }
  div#container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  div#supporters {
    flex-basis: 19rem;
    flex-shrink: 0;
    margin-left: 3rem; } }

.important {
  color: #f00;
  font-weight: bold; }

.breadcrumbs {
  background-color: #e3e3e3;
  border-radius: .5rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
  font-size: .7rem;
  margin: 0;
  padding: 0 .4rem; }
  .breadcrumbs li {
    display: inline;
    margin: 0;
    padding: 0; }
    .breadcrumbs li:after {
      content: ' \2192'; }
    .breadcrumbs li:last-child:after {
      content: ''; }

.contact-info span {
  display: block; }

.talktitle:before {
  content: '\201C'; }

.talktitle:after {
  content: '\201D'; }

.credit {
  font-size: 60%; }
  .credit:before {
    content: '['; }
  .credit:after {
    content: ']'; }
