//colors
$color_alto_approx: #ddd;
$black_15: rgba(0, 0, 0, 0.15);
$gallery: #efefef;
$color_trout_approx: #4b545f;
$white: #fff;
$black: black;
$color_shuttle_gray_approx: #5f6975;
$color_pale_sky_approx: #6b727c;
$color_mid_gray_approx: #575f6a;
$color_mercury_approx: #e3e3e3;
$red: red;
//@extend-elements
//original selectors
//div#organisers-box, div#platinum-supporters-box, div#gold-supporters-box, div#silver-supporters-box
%extend_1 {
  margin: 0 0 1rem 0;
  padding: 0.3rem;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0.2rem $black_15;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0.3rem;
}
div {
  &#mysite {
    margin: 0 auto;
    padding: 0;
    border-style: none;
  }
  &.menu {
    margin: 0 auto 1rem auto;
    padding: 0;
    width: 100%;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    clear: both;
    ul {
      margin: 0;
      padding: 0;
      font-size: 0.8rem;
      background-color: $gallery;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 0 0.4rem $black_15;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 0.5rem;
      list-style: none;
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      li {
        margin: 0;
        padding: 0;
        float: left;
        position: relative;
        &:hover {
          background-color: $color_trout_approx;
          > ul {
            display: block;
          }
          a {
            color: $white;
          }
        }
        a {
          display: block;
          padding: 0.2rem 0.5rem;
          color: $black;
          text-decoration: none;
        }
      }
      ul {
        display: none;
        background: $color_shuttle_gray_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        li {
          float: none;
          border-top: 0.1rem solid $color_pale_sky_approx;
          border-bottom: 0.1rem solid $color_mid_gray_approx;
          position: relative;
          a {
            padding: 0.5rem 1rem;
            color: $white;
            &:hover {
              background-color: $color_trout_approx;
            }
          }
        }
        ul {
          position: absolute;
          left: 100%;
          top: 0;
        }
      }
    }
  }
  &#breadcrumbs {
    margin-bottom: 2rem;
  }
  &#speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //		align-content: flex-start;
  }
  &.speaker {
    max-width: 25rem;
    padding: 1rem;
    border: 0.1rem solid $black;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0.5rem;
    flex-basis: 12rem;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 1rem 1rem 0;
  }
  &#organisers-box {
    @extend %extend_1;
  }
  &#platinum-supporters-box {
    @extend %extend_1;
    h2 {
      font-size: 0.9rem;
      margin: 0 0 1rem 0;
    }
  }
  &#gold-supporters-box {
    @extend %extend_1;
    h2 {
      font-size: 0.8rem;
      margin: 0 0 1rem 0;
    }
  }
  &#silver-supporters-box {
    @extend %extend_1;
    margin-bottom: 0;
    h2 {
      font-size: 0.7rem;
      margin: 0 0 1rem 0;
    }
  }
  &#organisers {
    display: flex;
    flex-wrap: wrap;
  }
  &#platinum-supporters {
    display: flex;
    flex-wrap: wrap;
  }
  &#gold-supporters {
    display: flex;
    flex-wrap: wrap;
  }
  &#silver-supporters {
    display: flex;
    flex-wrap: wrap;
  }
  &.main-org {
    margin: 0 1rem 1rem 0;
  }
  &.platinum-supp {
    margin: 0 1rem 1rem 0;
  }
  &.gold-supp {
    margin: 0 1rem 1rem 0;
  }
  &.silver-supp {
    margin: 0 1rem 1rem 0;
  }
  &#register-button {
    width: 10rem;
    margin: 2rem auto 2rem auto;
  }
  &#location {
    margin: 2rem 0 1rem;
  }
  &#location-map {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0;
    width: 50%;
  }
  &#location-links {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0;
    width: 15rem;
  }
  &#main-organisers-box h2 {
    font-size: 1rem;
  }
  &#inffeld-photos figure {
    margin: 1rem auto 2rem auto;
    text-align: center;
    width: 100%;
    img {
      padding: 1rem 0;
      max-width: 100%;
      max-height: 20rem;
    }
    figcaption p {
      text-align: center;
      text-indent: 0;
    }
  }
}
header {
  margin: 1rem auto;
  background-color: $color_alto_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0.4rem $black_15;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    &#title {
      width: auto;
    }
    &#tagline {
      font-size: 0.7rem;
    }
    &#logo img {
      width: 2.5rem;
      display: block;
      margin-right: 1rem;
    }
    &#uxg-logo img {
      width: 2.5rem;
      display: block;
      margin-left: 1rem;
    }
  }
  h1 {
    font-size: 2rem;
  }
}
footer {
  font-size: 0.7rem;
  margin: 2.5rem auto 1rem auto;
  background-color: $gallery;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0.4rem $black_15;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0.5rem;
  text-align: center;
  span {
    &.valid-xhtml {
      display: inline-block;
      padding: 0 0.5rem 0 0;
    }
    &.valid-css {
      display: inline-block;
      padding: 0 0.5rem;
    }
    &.copyright {
      display: inline-block;
      padding: 0 0.5rem;
    }
    &.impressum {
      display: inline-block;
      padding: 0 0 0 0.5rem;
    }
  }
}
img {
  &.speaker-photo {
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 100%;
    max-height: 10rem;
  }
  &.org-logo {
    width: 8rem;
    max-height: 3.5rem;
  }
  &.platinum-supp-logo {
    width: 8rem;
    max-height: 3.5rem;
  }
  &.gold-supp-logo {
    width: 5.8rem;
    max-height: 2.2rem;
  }
  &.silver-supp-logo {
    width: 4.5rem;
    max-height: 2rem;
  }
  &#supp-logo-feri {
    max-height: 3rem;
  }
  &#map-i7 {
    display: block;
    margin-right: 1rem;
    min-width: 10rem;
  }
}
@media only all and(max-width: 40rem) {
  header {
    div {
      &#title {
        width: auto;
      }
      &#tagline {
        font-size: 0.5rem;
      }
      &#logo img {
        width: 1.7rem;
        display: block;
        margin-right: 0.5rem;
      }
      &#uxg-logo img {
        width: 1.7rem;
        display: block;
        margin-left: 0.5rem;
      }
    }
    h1 {
      font-size: 1rem;
    }
  }
  div {
    &#container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &#supporters {
      width: 100%;
    }
  }
}
@media only all and(min-width: 40rem) and(max-width: 60rem) {
  div {
    &#container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &#supporters {
      flex-basis: 9rem;
      flex-shrink: 0;
      margin-left: 2rem;
    }
  }
}
@media only all and(min-width: 60rem) {
  div {
    &#mysite {
      max-width: 60rem;
    }
    &#container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &#supporters {
      flex-basis: 19rem;
      flex-shrink: 0;
      margin-left: 3rem;
    }
  }
}
.important {
  color: $red;
  font-weight: bold;
}
ul.breadcrumbs {
  padding: 0 0.4rem;
  margin: 0;
  font-size: 0.7rem;
  background-color: $color_mercury_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0.4rem $black_15;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0.5rem;
  
  li {
    display: inline;
    padding: 0;
    margin: 0;

    &:after {
      content: ' \2192';
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.contact-info {
  span {
    display: block;
  }
}

.talktitle {
  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.credit {
  font-size: 60%;

  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}
