
// Main colors
//
// $color-alto-approx - header background-color
// $black-15 - Sused for the box-shadow
// $gallery - ul background-color
// $color-trout-approx - hovers background-color
// $white - Used for a color
// $black - used for the borders
// $color-shuttle-gray-approx - used for the background
// $color-pale-sky-approx - used for the border-top
// $color-mid-gray-approx - used for the border-bottom
// $color-mercury-approx - used for background-color
// $red - used for the color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

$color-alto-approx: #ddd;
$black-15: rgba(0, 0, 0, .15);
$gallery: #efefef;
$color-trout-approx: #4b545f;
$white: #fff;
$black: #000;
$color-shuttle-gray-approx: #5f6975;
$color-pale-sky-approx: #6b727c;
$color-mid-gray-approx: #575f6a;
$color-mercury-approx: #e3e3e3;
$red: #f00;
