//Figure
//
//
//
//Styleguide 3.1

figure {
  margin: 1rem auto 2rem;
  text-align: center;
  width: 100%;

  img {
    max-height: 20rem;
    max-width: 100%;
    padding: 1rem 0;
  }

  figcaption {
    p {
      text-align: center;
      text-indent: 0;
    }
  }
}

.credit {
  font-size: 60%;

  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }
}
