// Header
//
//The header concists of a title, tagline and two logos on each side.
//
// Styleguide 4.5

// Title
//
// markup:
//<header>
//<div class="title">
//<h1>UX Day Graz 2015</h1>
//<div>
//</header>
//
// Styleguide 4.5.1

// Tagline
//
// markup:
//<header>
//<div class="tagline">
//"A Community event for practitioners of user experience, interaction design, and usability!"
//<div>
//</header>
//
// Styleguide 4.5.2

// Logos
//
//The header concists of a title, tagline and two logos on each side.
//
// markup:
//<header>
//<div class="logo">
//<a href="/" title="UX Day Graz 2015">
//<img src="/logos/uxd2015-logo.svg" alt ="UX Day Graz 2015 Logo" class="logo">
//</a>
//</div>
// <div class="uxg-logo">
//<a href="https://uxgraz.iicm.tugraz.at/" title="UX Graz Community">
//<img src="/logos/uxg-logo.svg" alt="UX Graz Logo" class="logo">
//</a>
//</div>
//</header>
//
// Styleguide 4.5.3

header {
  background-color: $color-alto-approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: .5rem;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 .4rem $black-15;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;

  .title {
    width: auto;
  }

  .tagline {
    font-size: .7rem;

    @media only all and(max-width: $breakpoint-1) {
      font-size: .5rem;
    }
  }

  .logo {
    img {
      display: block;
      margin-right: 1rem;
      width: 2.5rem;

      @media only all and(max-width: $breakpoint-1) {
        display: block;
        margin-right: .5rem;
        width: 1.7rem;
      }
    }
  }

  .uxg-logo {
    img {
      display: block;
      margin-left: 1rem;
      width: 2.5rem;

      @media only all and(max-width: $breakpoint-1) {
        display: block;
        margin-left: .5rem;
        width: 1.7rem;
      }
    }
  }

  h1 {
    font-size: 2rem;

    @media only all and(max-width: $breakpoint-1) {
      font-size: 1rem;
    }
  }

}
