.location {
  margin: 2rem 0 1rem;
}

.location-map {
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
  width: 50%;
}

.location-links {
  display: inline-block;
  margin: 0;
  text-align: left;
  vertical-align: top;
  width: 15rem;
}

.map-i7 {
  display: block;
  margin-right: 1rem;
  min-width: 10rem;
}
