nav {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  clear: both;
  margin: 0 auto 1rem;
  padding: 0;
  width: 100%;

  ul {
    background-color: $gallery;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: .5rem;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 .4rem $black-15;
    font-size: .8rem;
    list-style: none;
    margin: 0;
    padding: 0;

    &:after {
      clear: both;
      content: '';
      display: block;
    }

    // TODO: not used atm so ignored for now. Should be generalized and specificity should be lower
    //ul {
    //  background: $color-shuttle-gray-approx;
    //  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    //  border-radius: 0;
    //  display: none;
    //  padding: 0;
    //  position: absolute;
    //  top: 100%;
    //
    //  li {
    //    border-bottom: .1rem solid $color-mid-gray-approx;
    //    border-top: .1rem solid $color-pale-sky-approx;
    //    float: none;
    //    position: relative;
    //
    //    a {
    //      color: $white;
    //      padding: .5rem 1rem;
    //
    //      &:hover {
    //        background-color: $color-trout-approx;
    //      }
    //    }
    //  }
    //
    //  ul {
    //    left: 100%;
    //    position: absolute;
    //    top: 0;
    //  }
    //}
  }

  li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;

    &:hover {
      background-color: $color-trout-approx;

      // TODO: not used atm so ignored for now. Should be generalized and specificity should be lower
      //> ul {
      //  display: block;
      //}
    }
  }

  a {
    color: $black;
    display: block;
    padding: .2rem .5rem;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

}
