// Speakers
//
// Introduction of the speakers, e.g. personal information, the topic, they will talk about, biography of the person
//
// markup:
// <div class="speakers">
//   <div class="speaker">
//     <img class="speaker-photo" src="/images/eric.jpg">
//     <h2 class="spekername">Eric Egger<h2>
//     <h3 class="affiliation">W3C Web Accessibility Initiative</h3>
//     <p class="contact-info">
//       <span class="email">"Email: "<a href="mailto:ee@w3.org">ee@w3.org</a></span>
//       <span clas="web">"Web: "<a href="http://yatil.net/">http://yatil.net/</a></span>
//     </p>
//   <div class="talk">
//     <h2 class="talktitle">
//       How to Improve Your Website's Accessibility Without Going Crazy
//       </h2>
//     <h2 class="abstract">Abstract</h2>
//     <p>"... Some text here ..."</p>
//   </div>
//   <div class="biiography">
//     <h2 class="biography">Biography</h2>
//     <p>"... Some biographical text here ..."</p> 
//   </div>
//  </div>
// </div>
//
// Styleguide 9.1

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //		align-content: flex-start;
}

.speaker {
  border: .1rem solid $black;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: .5rem;
  flex-basis: 12rem;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 1rem 1rem 0;
  max-width: 25rem;
  padding: 1rem;
}

.speaker-photo {
  display: block;
  margin: 0 auto 1rem;
  max-height: 10rem;
  max-width: 100%;
}

.talktitle {
  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

.contact-info {
  span {
    display: block;
  }
}
