%box {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: .3rem;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 .2rem $black-15;
  margin: 0 0 1rem;
  padding: .3rem;
}
